<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bundleid</key>
  <string>tech.reyem.stint.alfred</string>
  <key>name</key>
  <string>Stint</string>
  <key>description</key>
  <string>Start, stop, and inspect Stint time entries from Alfred.</string>
  <key>version</key>
  <string>0.1.0</string>
  <key>createdby</key>
  <string>Reyem Technologies</string>
  <key>readme</key>
  <string>See README.md</string>
  <key>objects</key>
  <array/>
  <key>connections</key>
  <dict/>
  <key>uidata</key>
  <dict/>
</dict>
</plist>
